p {
  font-size: 35px;
  font-weight: bold;
}

.urgent {
  color: red;
}

.article__section {
  background-color: black;
  color: white;
}

.highlight {
  background-color: yellow;
  color: black;
}